<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>regression</td><td>crud.read()[pri:0, instance:depend.crud@76dedd5c]<br/>crud.create()[pri:0, instance:depend.crud@76dedd5c]<br/>A2.test5()[pri:0, instance:annotations.A2@6866da50]<br/>crud.update()[pri:0, instance:depend.crud@76dedd5c]<br/></td></tr>
<tr><td>smoke</td><td>crud.read()[pri:0, instance:depend.crud@76dedd5c]<br/>crud.create()[pri:0, instance:depend.crud@76dedd5c]<br/>A1.test1()[pri:0, instance:annotations.A1@5298db1f]<br/>crud.delete()[pri:0, instance:depend.crud@76dedd5c]<br/>A2.test5()[pri:0, instance:annotations.A2@6866da50]<br/>crud.update()[pri:0, instance:depend.crud@76dedd5c]<br/>A1.loginTest()[pri:0, instance:annotations.A1@5298db1f]<br/></td></tr>
</table>
