<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>my first suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="90adbf">  <td>16/09/18 11:58:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="crud.create()[pri:0, instance:depend.crud@76dedd5c]">create</td> 
  <td>pool-2-thread-1@77396098</td>   <td></td> </tr>
<tr bgcolor="f2eb78">  <td>16/09/18 11:58:10</td>   <td>-102</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="A1.loginTest()[pri:0, instance:annotations.A1@5298db1f]">loginTest</td> 
  <td>pool-1-thread-1@314357161</td>   <td></td> </tr>
<tr bgcolor="f2eb78">  <td>16/09/18 11:58:10</td>   <td>-102</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="A1.test1()[pri:0, instance:annotations.A1@5298db1f]">test1</td> 
  <td>pool-1-thread-2@57003552</td>   <td></td> </tr>
<tr bgcolor="80d5d5">  <td>16/09/18 11:58:10</td>   <td>-102</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="A2.test5()[pri:0, instance:annotations.A2@6866da50]">test5</td> 
  <td>pool-1-thread-3@280991902</td>   <td></td> </tr>
</table>
