<h2>Methods that were not run</h2><table>
<tr><td>annotations.A2.test6</td></tr>
<tr><td>annotations.A1.test2</td></tr>
<tr><td>annotations.A1.test3</td></tr>
<tr><td>parameterization.registrationTest.registerTest</td></tr>
</table>